<%- include ('../includes/header') %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <%- include ('../includes/sidebar') %>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
         
          <!-- /.card -->

          <% if (expressFlash) { %>
            <p class = "text-success"><%= expressFlash %> </p>
          <% } %>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Products List</h3>
              <div class="card-tools"><a href ="/products/add/" class=" btn btn-block btn-outline-primary btn-sm">Add New</a></div>
              
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Product Name</th>
                  <th>SKU</th>
                  <th>Slug</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <% for (i in data) { %>
                <tr>
                  <td><%= parseInt(i)+1 %></td>
                  <td><%= data[i].name %></td>
                  <td><%= data[i].sku %></td>
                  <td><%= data[i].slug %></td>
                  <td><%= data[i].status %></td>
                  <td><a href = "<%= data[i].id %>">Edit</a></td>
                </tr>
                <% } %>
                </tbody>
                <tfoot>
                
                <tr>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                </tr>
                
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>